{% extends "base.html" %}
{% block title %}مراسم‌های مرحوم{% endblock %}

{% block content %}
<h4>مراسم‌های {{ eternal.first_name }} {{ eternal.last_name }}</h4>
  <button onclick="history.back()" class="btn btn-outline-secondary mb-4">
    ← بازگشت
  </button>

<ul class="list-group mt-3">
    {% for ceremony in ceremonies %}
        <li class="list-group-item">
            {{ ceremony.ceremony }}
        </li>
    {% empty %}
        <li class="list-group-item text-muted">مراسمی یافت نشد.</li>
    {% endfor %}
</ul>

<a href="{% url 'eternals:add_ceremony' eternal.id %}" class="btn btn-primary mt-3">افزودن مراسم جدید</a>
{% endblock %}
