{% extends 'base.html' %}
{% load jalali_filters %}

{% block content %}
<div class="container my-5">

  <button onclick="history.back()" class="btn btn-outline-secondary mb-4">
    ← بازگشت
  </button>

  <div class="row mb-4">
    <div class="col-lg-8 mx-auto">
      
      {% if news.links.all %}
        <div class="row mb-4">
          <h1 class="mb-3 text-center">{{ news.title }}</h1>
          <div class="col-lg-8 mx-auto text-center">
            <!--<h4 class="mb-3">🔗 لینک‌های مرتبط</h4>-->
            
            <div class="d-flex justify-content-center flex-wrap gap-2">
              
              {% for link in news.links.all %}
                <a href="{{ link.url }}" target="_blank"
                    class="btn btn-outline-info btn-sm rounded-pill px-3 py-1"
                    style="font-size: 18px; font-weight: 500;">
                    🔗 {{ link.title }}
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}

      {% if news.main_image %}
        <a href="{{ news.main_image.url }}" class="glightbox" data-gallery="main-gallery">
          <img src="{{ news.main_image.url }}" class="main-image img-fluid rounded shadow-sm mb-4" alt="">
        </a>
      {% endif %}

      <p class="lead">{{ news.summary }}</p>
      <div class="mt-4">
        {{ news.body|linebreaks }}
      </div>
    </div>
  </div>

  {% if news.images.all %}
    <div class="row mb-5">
      <h3 class="mb-4">تصاویر دیگر</h3>
      {% for img in news.images.all %}
        <div class="col-6 col-md-4 col-lg-3 mb-4">
          <a href="{{ img.image.url }}" class="glightbox" data-gallery="news-gallery">
            <img src="{{ img.image.url }}" class="gallery-thumb img-fluid shadow-sm" alt="">
          </a>
        </div>
      {% endfor %}

    </div>
  {% endif %}

  <hr class="my-5">

  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h3 class="mb-4">نظرات</h3>

      <ul class="list-unstyled">
        {% for comment in comments %}
          <li class="mb-4 border rounded p-3">
            <div class="d-flex justify-content-between mb-2">
              <strong>{{ comment.persona.name }}</strong>
              <small class="text-muted">{{ comment.created_at|to_jalali }}</small>
            </div>
            <p class="mb-0">{{ comment.body }}</p>
          </li>
        {% empty %}
          <li>نظری ثبت نشده است.</li>
        {% endfor %}
      </ul>

      {% if user.is_authenticated %}
        <hr class="my-5">
        <h4 class="mb-3">افزودن نظر</h4>
        <form method="post" class="border rounded p-4 bg-light">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">ارسال نظر</button>
        </form>
      {% else %}
        <p class="mt-4 alert alert-warning text-center">
          برای ارسال نظر ابتدا وارد حساب کاربری شوید.
        </p>
      {% endif %}
    </div>
  </div>

</div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
<style>
  .gallery-thumb {
    height: 120px;  //اندازه سایر عکس
    width: auto;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
  }
  .gallery-thumb:hover {
    transform: scale(1.05);
  }
  .main-image {
    max-height: 250px;
    object-fit: cover;
    width: 10%;
    border-radius: 10px;
  }
</style>
{% endblock %}


{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    GLightbox({
      selector: '.glightbox',
      touchNavigation: true,
      loop: true,
      zoomable: true,
      closeButton: true,
      nextButton: true,
      prevButton: true,
    });
  });
</script>
{% endblock %}

