# templates/news/news_detail.html

{% extends 'base.html' %}
{% load jalali_filters %}
{% block content %}
<h1>{{ news.title }}</h1>
<img src="{{ news.main_image.url }}" alt="" width="400">
<p>{{ news.summary }}</p>
<div>{{ news.body }}</div>

<h3>تصاویر دیگر</h3>
<ul>
    {% for img in news.images.all %}
        <li><img src="{{ img.image.url }}" alt="" width="200"></li>
    {% endfor %}
</ul>

<hr>
<h3>نظرات</h3>

<ul>
    {% for comment in comments %}
        <li>
            <strong>{{ comment.persona.name }}</strong> - <small>{{ comment.created_at|to_jalali }}</small>
            <p>{{ comment.body }}</p>
        </li>
    {% empty %}
        <li>نظری ثبت نشده است.</li>
    {% endfor %}
</ul>

{% if user.is_authenticated %}
    <hr>
    <h4>افزودن نظر</h4>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">ارسال نظر</button>
    </form>
{% else %}
    <p>برای ارسال نظر ابتدا وارد حساب کاربری شوید.</p>
{% endif %}


{% endblock %}