<h2>پرداخت صدقه از کیف پول</h2>
<p>موجودی کیف پول: {{ wallet.balance }} تومان</p>

<form method="post">
  {% csrf_token %}
  <label>مبلغ (تومان):</label>
  <input type="number" name="amount" required min="1000">
  
  <label>بابت:</label>
  <select name="cause" class="form-control" required>
    <option value="">لطفاً انتخاب کنید</option>
    {% for cause in causes %}
      <option value="{{ cause.id }}">{{ cause.title }}</option>
    {% endfor %}
  </select>
  
  <button type="submit">پرداخت صدقه</button>
</form>
